name: Build

on:
  push:
    branches:
      - master
      - "!skipci*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure direnv
        uses: HatsuneMiku3939/direnv-action@v1

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: '.nvmrc'

      - name: Install Yarn
        uses: actions/setup-node@v4
        with:
          node-version: '.nvmrc'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build:all

      - name: Test
        run: yarn test:all
