name: Build

on:
  push:
    branches:
      - "*"
      - "!skipci*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Build
        run: yarn build:all

